*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
}

#heading{
    margin: 4px;
}

#input1{
    margin: 2px;
}

#input2{
    margin: 2px;
}

button{
    margin: 3px;
    width: 60px;
}